.navbar{
    
    margin-top: 30px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 15px 50px;
    position: sticky;
    top: 0;
    z-index: 100;

}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.navbar ul li a:hover{
    color: #FFD700;
}

