.projects-section {
  padding: 50px 20px;
  text-align: center;
  background: #f9f9f9;
}

.section-title {
  font-size: 2.2rem;
  margin-bottom: 30px;
  color: #222;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.project-card {
  background: #fff;
  /* border-radius: 12px; */
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.project-title {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #333;
}

.project-desc {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 15px;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.live-btn {
  background: #007bff;
  color: #fff;
}

.btn:not(.live-btn) {
  background: #222;
  color: #fff;
}

.demo-live-buttom:hover{
  background: #007bff;
  color: #222;
}


